$clr-primary: #2D3142;
$clr-border-bg: #545E75;
$clr-bg-amount: #E3E8EF;
$clr-key-sec: #F7F9FC;

$full-width: 100vw;
$full-height: 100vh;

$main-view: 400px;

$halvatica: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
$monaco: "monaco", "Consolas", "Lucida Console", "monospace"; 

html {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $clr-bg-amount;
}
.App {
    width: $full-width;
    height: $full-height;
    display: flex;
    align-items: flex-start;
    margin: 100px auto;
    .register {
        width: $main-view;
        height: $main-view;
        overflow: hidden;
        position: relative;
        border: 3px solid $clr-border-bg;
        border-radius: 5px;
        box-shadow: 0px 0px 16px 0px;
        .screen {
            width: 410px;
            height: auto;
            background-color: $clr-bg-amount;
            p {
              height: 100%;
              width: auto;
              margin: 32px 16px 32px -16px;
              font-size: 32px;
              font-weight: normal;
              line-height: 40px;
              color: $clr-primary;
              text-align: right;
              font-family: $monaco; 

            }
        }
        .keys {
            height: 80%;
            width: 100%;
            span {
                float: left;
                position: relative;
                top: 0;
                cursor: pointer;
                width: 33.33%;
                height: 25%;
                background: $clr-key-sec;
                border-radius: 0;
                border: 1px solid $clr-border-bg;
                box-sizing: border-box;
                margin: 0;
                font-size: 20px;
                font-family: $halvatica;
                font-style: bold;
                color: $clr-primary;
                line-height: 56px;
                text-align: center;
                transition: all 0.2s ease;
                &:focus {
                    background: $clr-border-bg;
                    &::before {
                        background: $clr-border-bg;
                    }
                }
            }
        }
    }

    .results { 
        width: 220px;
        height: auto;
        max-height: 400px;
        overflow-y: auto;
        background: $clr-border-bg;
        border: 3px solid $clr-border-bg;
        border-radius: 5px;
        margin-left: 32px;
        padding: 16px;
        font-size: 16px;
        color: $clr-key-sec;
        text-align: right;
        font-family: $monaco;

        .answer {
            border-top: 2px solid  $clr-key-sec;
            padding-top: 16px;
        }
    }
}